.presentation{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    grid-auto-rows: minmax(100px, auto);
}
.presentation p{
    margin-bottom: 10px;
}

img{
    width: 50%;
    height: 50%;
}

@media only screen and (max-width: 768px) {
    .presentation{
        grid-template-columns: 1fr;
    }
}